#contact .flex {
  flex-direction: column; }
  #contact .flex .maps {
    width: 100%;
    height: 400px;
    margin-bottom: 20px; }
    #contact .flex .maps iframe {
      width: 100%;
      height: 100%; }
  #contact .flex form {
    height: auto;
    max-width: 750px; }
    #contact .flex form .flex {
      width: 100%; }
    #contact .flex form .flexrow {
      width: 100%;
      margin-bottom: 20px; }
      #contact .flex form .flexrow .flexcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        #contact .flex form .flexrow .flexcontainer .flex {
          flex-basis: calc(50% - 10px); }
      #contact .flex form .flexrow .flex {
        flex-direction: column;
        margin-bottom: 10px; }
        #contact .flex form .flexrow .flex label {
          margin-bottom: 10px;
          color: #e62b1e; }
        #contact .flex form .flexrow .flex input {
          padding: 10px;
          border: 1px solid #58595B; }
    #contact .flex form .red {
      color: #e62b1e; }
    #contact .flex form .g-recaptcha {
      margin-bottom: 20px; }
    #contact .flex form .btn {
      margin-left: 0; }

@media screen and (min-width: 700px) {
  #contact .flex {
    flex-direction: row;
    justify-content: space-between; }
    #contact .flex .flex-element {
      flex-basis: calc(50% - 20px - 20px - 20px - 20px); } }
