@charset "UTF-8";
.btn {
  display: block;
  background-color: transparent;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 10px;
  font-weight: bold; }

.btn-s {
  color: white;
  background-color: #000000;
  border: 0;
  padding: 10px;
  display: inline-block; }

.btn-regular {
  color: white;
  background-color: #e62b1e;
  padding: 20px;
  margin: 20px auto;
  display: inline-block; }

.btn-l {
  padding: 20px;
  border: 2px solid white;
  box-sizing: border-box; }

.btn-l:hover {
  cursor: pointer;
  color: #e62b1e;
  background-color: white; }

body {
  color: #000000;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    color: inherit; }
  body p {
    line-height: 1.5em; }
  body .maxwidth {
    max-width: 1000px;
    margin: 0 auto; }
  body .flex {
    display: flex;
    flex-wrap: wrap; }
  body .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  body .all-caps {
    text-transform: uppercase; }

#information {
  background-color: #000000;
  padding: 10px; }
  #information .flex {
    justify-content: space-between;
    align-items: center; }
    #information .flex p {
      color: white;
      font-size: 16px;
      margin-bottom: 0;
      line-height: 1.25em;
      box-sizing: border-box;
      flex-basis: 80%; }
    #information .flex .information--socials {
      flex-basis: 20%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      #information .flex .information--socials a {
        margin-left: 10px;
        padding: 3px;
        color: white;
        margin-top: 4px;
        transition: 0.2s; }
        #information .flex .information--socials a:hover {
          color: #e62b1e;
          transition: 0.2s; }

nav .maxwidth {
  background-color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px; }
  nav .maxwidth #logo {
    height: 40px;
    width: auto; }
  nav .maxwidth .hamburger-menu-container .hamburger-menu {
    position: relative;
    display: block;
    width: 26px;
    height: 24px;
    cursor: pointer;
    z-index: 10; }
    nav .maxwidth .hamburger-menu-container .hamburger-menu span {
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      right: 0;
      background-color: #000000;
      transition: 0.2s; }
      nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(1) {
        top: calc(0% + 3px); }
      nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(2) {
        width: 26px;
        top: calc(50% - 1px); }
      nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(3) {
        top: calc(100% - 5px); }
    nav .maxwidth .hamburger-menu-container .hamburger-menu:hover span {
      width: 23px;
      transition: 0.2s; }
  nav .maxwidth .hamburger-menu-container .open:hover span {
    width: 20px; }
  nav .maxwidth .hamburger-menu-container .open span {
    transition: 0.2s;
    transform-origin: left center; }
    nav .maxwidth .hamburger-menu-container .open span:nth-child(1) {
      transform: rotate(-45deg) translateX(-11px) translateY(11px); }
    nav .maxwidth .hamburger-menu-container .open span:nth-child(2) {
      width: 0; }
    nav .maxwidth .hamburger-menu-container .open span:nth-child(3) {
      transform: rotate(45deg) translateX(-10px) translateY(-11px); }
  nav .maxwidth .navigation {
    flex-direction: column;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 0;
    background-color: #2D2D2D; }
    nav .maxwidth .navigation li:not(:last-child) {
      border-bottom: 1px solid lightgray; }
      nav .maxwidth .navigation li:not(:last-child) .drop li {
        border-bottom: 0; }
    nav .maxwidth .navigation li a {
      display: block;
      color: white;
      padding: 20px;
      clear: both;
      transition: 0.2s;
      border-right: 3px solid #2D2D2D;
      cursor: pointer; }
      nav .maxwidth .navigation li a:hover {
        color: red;
        transition: 0.2s;
        border-right: 3px solid #e62b1e;
        box-sizing: border-box; }
    nav .maxwidth .navigation li .dropdown {
      background-image: url("../img/down-arrow.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: calc(100% - 20px) center; }
    nav .maxwidth .navigation li .dropped {
      background-image: url("../img/up-arrow.svg"); }
    nav .maxwidth .navigation li .drop {
      display: none; }
      nav .maxwidth .navigation li .drop li {
        text-indent: 20px; }

@media screen and (min-width: 820px) {
  .splitline.flex {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    padding-top: 20px; }
  .copyright.flex {
    flex-direction: row;
    justify-content: space-around; }
  .carousel {
    display: flex; }
    .carousel .carousel-item {
      width: 33%;
      max-width: none;
      margin: 0 auto;
      text-align: center;
      padding: 10px; }
    .carousel .bg-img-x {
      background-image: url(‘../img/red_x.svg’);
      background-repeat: no-repeat;
      background-size: contain !important;
      height: 300px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; } }

.carousel {
  display: flex; }

.carousel-item {
  width: 33%;
  max-width: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px; }

.bg-img-x {
  background-image: url("../img/red_x.svg");
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.splitline.flex {
  flex-direction: column;
  padding-top: 20px; }

.copyright.flex {
  flex-direction: row;
  justify-content: space-around; }

header {
  background-color: red;
  background-image: url("../img/home.jpg"); }
  header .flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    header .flex #jumbotron {
      background-image: url("../img/red_x.svg");
      background-size: cover;
      padding: 40px 0;
      min-width: 500px;
      width: 80%;
      max-width: 800px;
      margin: 100px auto;
      color: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      header .flex #jumbotron img {
        width: 90%;
        max-width: 80vw;
        height: auto; }
      header .flex #jumbotron h1 {
        font-family: "Helvetica";
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        font-weight: bold; }
      header .flex #jumbotron .h1--underline:after {
        content: "";
        position: absolute;
        display: block;
        width: 100px;
        height: 2px;
        background-color: white;
        bottom: -20px;
        left: calc(50% - 50px); }

section {
  padding: 60px 20px; }
  section p {
    max-width: 500px;
    margin-bottom: 20px; }
  section h3 {
    display: inline-block;
    font-family: "Helvetica";
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    font-weight: bold; }
  section .title--line:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -20px;
    width: 70px;
    height: 3px;
    background-color: #e62b1e; }
  section form {
    height: 50px; }
    section form input[type="email"] {
      font-size: 20px;
      padding: 7px 10px;
      width: 150px;
      height: 30px; }
    section form input[type="submit"] {
      font-size: 20px;
      padding: 7px 20px;
      height: 50px;
      margin-top: 0;
      margin-left: 30px;
      cursor: pointer; }
  section .carousel {
    margin-top: 20px; }
    section .carousel .carousel-item {
      width: 80%;
      max-width: 500px;
      margin: 0 auto;
      text-align: center; }
      section .carousel .carousel-item .bg-img-x {
        background-image: url("../img/red_x.svg");
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center; }
        section .carousel .carousel-item .bg-img-x img {
          display: block;
          width: auto;
          height: auto;
          max-height: 200px;
          margin: auto; }
      section .carousel .carousel-item a {
        font-weight: bold;
        line-height: 1.6em; }
      section .carousel .carousel-item .carousel-item-speaker {
        margin-bottom: 20px; }
        section .carousel .carousel-item .carousel-item-speaker .quote {
          color: #2D2D2D; }
        section .carousel .carousel-item .carousel-item-speaker .role {
          font-weight: bold;
          color: #000000; }
  section .meetspeakers {
    display: block;
    width: max-content;
    margin: 10px auto;
    text-align: center;
    border: 5px solid #000000; }
    section .meetspeakers:hover {
      color: #000000;
      background-color: white; }
  section .link--red {
    color: #e62b1e;
    font-weight: bold; }

#subscribe {
  background-image: url("../img/subscribe-bg.png");
  background-repeat: repeat;
  background-size: 200px 100px;
  background-color: red;
  color: white;
  padding-top: 30px; }
  #subscribe h3 {
    margin-bottom: 10px;
    font-size: 24px; }

footer {
  background-color: #2D2D2D;
  color: white; }
  footer .maxwidth {
    width: 90%;
    margin: 0 auto; }
  footer .splitline {
    border-bottom: 1px solid #58595B; }
  footer div.flex {
    flex-direction: column; }
    footer div.flex div {
      width: 80%;
      margin: 0 auto; }
      footer div.flex div #footerlogo {
        display: block;
        max-width: 300px;
        width: 70%;
        height: auto;
        margin: 40px auto; }
      footer div.flex div ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px; }
        footer div.flex div ul li {
          flex-basis: 50%;
          text-align: center;
          box-sizing: border-box;
          clear: both; }
          footer div.flex div ul li a {
            display: block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            transition: 0.2s; }
            footer div.flex div ul li a:hover {
              color: red;
              transition: 0.2s; }
    footer div.flex .address {
      text-align: center; }
      footer div.flex .address h4 {
        color: #e62b1e; }
      footer div.flex .address h4, footer div.flex .address a {
        line-height: 1.4em; }
      footer div.flex .address .socials {
        width: 150px;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px; }
        footer div.flex .address .socials a {
          flex-basis: 33%;
          padding: 5px 0;
          transition: 0.2s; }
          footer div.flex .address .socials a :hover {
            color: #e62b1e;
            transition: 0.2s; }
  footer .copyright {
    flex-direction: column;
    text-align: center;
    color: #58595B; }
    footer .copyright p {
      padding: 10px 0; }
      footer .copyright p a {
        transition: 0.2s;
        font-weight: bold; }
        footer .copyright p a:hover {
          color: red;
          transition: 0.2s; }

@media screen and (min-width: 850px) {
  nav .maxwidth .hamburger-menu-container {
    display: none; }
  nav .maxwidth .navigation {
    position: static;
    display: flex;
    flex-direction: row;
    flex-basis: calc(100% - 233px);
    top: 0;
    background-color: transparent;
    justify-content: flex-end; }
    nav .maxwidth .navigation li {
      border: none; }
      nav .maxwidth .navigation li:not(:last-child) {
        border-bottom: none; }
      nav .maxwidth .navigation li a {
        color: #000000;
        border: none;
        top: 0;
        font-weight: bold;
        position: relative; }
        nav .maxwidth .navigation li a:before {
          content: '';
          display: block;
          position: absolute;
          transition: 0.2s;
          width: 0%;
          height: 3px;
          background-color: #e62b1e;
          left: 0;
          bottom: 0px; }
        nav .maxwidth .navigation li a:hover {
          border-right: none;
          color: red; }
          nav .maxwidth .navigation li a:hover:before {
            width: 100%; } }

::-webkit-selection {
  background: rgba(18, 52, 86, 0.5);
  color: white;
  text-shadow: none; }

::-moz-selection {
  background: rgba(18, 52, 86, 0.5);
  color: white;
  text-shadow: none; }

::-o-selection {
  background: rgba(18, 52, 86, 0.5);
  color: white;
  text-shadow: none; }

::-ms-selection {
  background: rgba(18, 52, 86, 0.5);
  color: white;
  text-shadow: none; }

::selection {
  background: rgba(18, 52, 86, 0.5);
  color: white;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(18, 52, 86, 0.5); }

a::selection {
  color: #123456; }
