// MEASURES

// FONT
$text: 16px;
$h3: 20px;
$h2: 24px;
$h1: 32px;

// MARGIN
$margin-s: 10px;
$margin: 20px;
$margin-l: 40px;

// PADDING
$padding-xs: 5px;
$padding-s: 10px;
$padding: 20px;
$padding-l: 40px;
$padding-xl: 60px;