// MEASURES

// FONT
$text: 20px;
$h3: 36px;
$h3-s: 24px;
$h2: 24px;
$h1: 36px;

// MARGIN
$margin-s: 10px;
$margin: 20px;
$margin-l: 40px;

// PADDING
$padding-xs: 5px;
$padding-s: 10px;
$padding: 20px;
$padding-l: 40px;
$padding-xl: 60px;