@charset "UTF-8";

.btn {
  display: block;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 10px;
  font-weight: bold;
}

.btn-s {
  color: white;
  background-color: #000000;
  border: 0;
  padding: 10px;
  display: inline-block;
}

.btn-regular {
  color: white;
  background-color: #e62b1e;
  padding: 20px;
  margin: 20px auto;
  display: inline-block;
}

.btn-l {
  padding: 20px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-l:hover {
  cursor: pointer;
  color: #e62b1e;
  background-color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '\2190';
}

[dir='rtl'] .slick-prev:before {
  content: '\2192';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '\2192';
}

[dir='rtl'] .slick-next:before {
  content: '\2190';
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 58px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.teamMember {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.teamMemberFlip .introText {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.teamMails {
  color: darkgray;
  font-style: italic;
  margin: 0 0 0 0;
}

.teamTitle {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 0 0 0;
}

.btn-team {
  padding: 8px;
  margin: 0 0 0 0;
}

.introImg {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.introText {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.introBig {
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .teamMemberFlip .introText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .teamMemberFlip .introImg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .teamMemberFlip .introBig {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 620px) {
  .introImg {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }

  .introText {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }

  .introBig {
    padding-top: 30px;
  }
}

@media screen and (min-width: 740px) {
  .introImg {
    grid-column: 1;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
  }

  .introText {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    grid-column: 2;
    grid-row: 1;
    -ms-flex-item-align: start;
        align-self: start;
    justify-self: start;
    padding-top: unset;
  }

  .introSmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introBig {
    grid-column: 2;
    grid-row: 1;
    -ms-flex-item-align: end;
        align-self: end;
    justify-self: start;
  }

  .introSmallName {
    margin-right: 30px;
  }

  .teamMember {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: none;
  }

  .teamMemberFlip {
    display: grid;
    grid-template-columns: 1fr 33% !important;
    grid-template-rows: none;
  }

  .teamMemberFlip .introText {
    grid-column: 1;
    grid-row: 1;
  }

  .teamMemberFlip .introImg {
    grid-column: 2;
    grid-row: 1;
  }

  .teamMemberFlip .introBig {
    grid-column: 1;
    grid-row: 1;
  }
}

#Revolution .maxwidth p {
  max-width: 1000px;
}

.timeline {
  min-width: 400px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.timeline .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.timeline .item .entry {
  padding: 0 20px;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .item .entry h4 {
  font-size: 24px;
  font-weight: bold;
}

.timeline .item .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.timeline .item .information .description p {
  width: calc(100% - 60px);
}

.timeline .item .information:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 100%;
  left: -2px;
  background-color: black;
}

.timeline .item .information .type {
  margin-top: 0px;
  margin-left: 0;
  height: 4em;
  padding: 0 20px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .item .information .type p {
  margin-bottom: 0;
  font-size: 24px;
  text-align: center;
}

.timeline .item .information .description {
  margin-left: 20px;
}

@media screen and (min-width: 650px) {
  .timeline .item .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.speakers .carousel-item {
  -ms-flex-preferred-size: calc(100% - 20px);
  flex-basis: calc(100% - 20px);
  margin: 10px 0;
  padding-bottom: 50px;
}

.speakers .carousel-item .bg-img {
  margin-bottom: 30px;
}

.speakers .carousel-item .carousel-item-speaker .role {
  font-weight: bold;
}

.speakers .carousel-item p {
  margin-left: auto;
  margin-right: auto;
}

.single-speaker {
  padding-top: 60px;
  padding-bottom: 60px;
}

.small-information-title {
  color: white;
  background-color: #e62b1e;
  padding: 5px;
  margin: 20px auto;
  display: inline-block;
}

.more-speakers .speakers .carousel-item {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.more-speakers h4 {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .single-speaker .speaker-information .small-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .more-speakers {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .speakers .carousel-item {
    -ms-flex-preferred-size: calc(50% - 20px);
    flex-basis: calc(50% - 20px);
  }

  .single-speaker .speaker-information .small-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .single-speaker .speaker-information .small-information .linkedin {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .speakers .carousel-item {
    -ms-flex-preferred-size: calc(33.33% - 20px);
    flex-basis: calc(33.33% - 20px);
  }
}

#partners .partnerscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#partners .partnerscontainer .partneritem {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#partners .partnerscontainer .partneritem:hover .partnerimage {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#partners .partnerscontainer .partneritem:hover i {
  text-indent: calc(20px + 20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#partners .partnerscontainer .partneritem .partnerimage {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#partners .partnerscontainer .partneritem .thomasmore {
  background-image: url(/images/thomasmore.png?6e9ff0ceac3c4fc503bc64a0aabfb74f);
}

#partners .partnerscontainer .partneritem p {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
  min-height: 2.4em;
}

#partners .partnerscontainer .partneritem a {
  display: block;
  text-align: center;
  color: #e62b1e;
}

#partners .partnerscontainer .partneritem i {
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 500px) {
  #partners .partnerscontainer .partneritem {
    -ms-flex-preferred-size: calc(50% - 10px - 20px);
        flex-basis: calc(50% - 10px - 20px);
  }
}

@media screen and (min-width: 1000px) {
  #partners .partnerscontainer .partneritem {
    -ms-flex-preferred-size: calc(25% - 10px - 20px);
        flex-basis: calc(25% - 10px - 20px);
  }
}

#contact .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .flex .maps {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#contact .flex .maps iframe {
  width: 100%;
  height: 100%;
}

#contact .flex form {
  height: auto;
  max-width: 800px;
}

#contact .flex form .flex {
  width: 100%;
}

#contact .flex form .flexrow {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .flex form .flexrow input {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .flex form .flexrow input,
#contact .flex form .flexrow textarea {
  border: 0;
  border-bottom: 1px solid #2D2D2D;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

#contact .flex form .flexrow .flexwidth {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#contact .flex form .flexrow .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .flex form .flexrow .flexcontainer .flex {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}

#contact .flex form .flexrow .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

#contact .flex form .flexrow .flex label {
  margin-bottom: 10px;
  color: #e62b1e;
}

#contact .flex form .flexrow .flex input {
  padding: 10px;
  border: 1px solid #58595B;
}

#contact .flex form .red {
  color: #e62b1e;
}

#contact .flex form .g-recaptcha {
  margin-bottom: 20px;
}

#contact .flex form .btn {
  margin-left: 0;
}

@media screen and (min-width: 700px) {
  #contact .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #contact .flex .flex-element {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
  }
}

body {
  color: #000000;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: inherit;
}

body p {
  line-height: 1.5em;
}

body .maxwidth {
  max-width: 1000px;
  margin: 0 auto;
}

body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body .all-caps {
  text-transform: uppercase;
}

#ted .maxwidth a {
  color: #e62b1e;
  font-weight: bold;
}

.introTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#information {
  background-color: #000000;
  padding: 10px 20px;
}

#information .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#information .flex p {
  color: white;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

#information .flex .information--socials {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#information .flex .information--socials a {
  margin-left: 10px;
  padding: 3px;
  color: white;
  margin-top: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#information .flex .information--socials a:hover {
  color: #e62b1e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .maxwidth {
  background-color: white;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60px;
}

nav .maxwidth #logo {
  height: 40px;
  width: auto;
}

nav .maxwidth .hamburger-menu-container .hamburger-menu {
  position: relative;
  display: block;
  width: 26px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}

nav .maxwidth .hamburger-menu-container .hamburger-menu span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  right: 0;
  background-color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(1) {
  top: calc(0% + 3px);
}

nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(2) {
  width: 26px;
  top: calc(50% - 1px);
}

nav .maxwidth .hamburger-menu-container .hamburger-menu span:nth-child(3) {
  top: calc(100% - 5px);
}

nav .maxwidth .hamburger-menu-container .hamburger-menu:hover span {
  width: 23px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .maxwidth .hamburger-menu-container .open:hover span {
  width: 20px;
}

nav .maxwidth .hamburger-menu-container .open span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

nav .maxwidth .hamburger-menu-container .open span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateX(-11px) translateY(11px);
          transform: rotate(-45deg) translateX(-11px) translateY(11px);
}

nav .maxwidth .hamburger-menu-container .open span:nth-child(2) {
  width: 0;
}

nav .maxwidth .hamburger-menu-container .open span:nth-child(3) {
  -webkit-transform: rotate(45deg) translateX(-10px) translateY(-11px);
          transform: rotate(45deg) translateX(-10px) translateY(-11px);
}

nav .maxwidth .navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 0;
  background-color: #2D2D2D;
}

nav .maxwidth .navigation li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

nav .maxwidth .navigation li:not(:last-child) .drop li {
  border-bottom: 0;
}

nav .maxwidth .navigation li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

nav .maxwidth .navigation li a {
  display: block;
  color: white;
  padding: 20px;
  clear: both;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

nav .maxwidth .navigation li a:before {
  display: none;
}

nav .maxwidth .navigation li a:after {
  position: absolute;
  content: '';
  display: block;
  width: 3px;
  height: 0;
  top: 50%;
  right: 0;
  background-color: #e62b1e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .maxwidth .navigation li a:hover {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .maxwidth .navigation li a:hover:after {
  height: 100%;
  top: 0%;
}

nav .maxwidth .navigation li .dropdown {
  background-image: url(/images/down-arrow.svg?856b4292c743dd58ddef928f047da847);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: calc(100% - 20px) center;
}

nav .maxwidth .navigation li .dropped {
  background-image: url(/images/up-arrow.svg?d59997c07592601bd7b4fe897eedfde5);
}

nav .maxwidth .navigation li .drop {
  display: none;
}

nav .maxwidth .navigation li .drop li {
  text-indent: 20px;
}

@media screen and (min-width: 820px) {
  #ted .maxwidth p {
    max-width: 1000px !important;
    margin-bottom: 20px;
  }

  #tedx .maxwidth p {
    max-width: 1000px !important;
    margin-bottom: 20px;
  }

  .splitline.flex {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    padding-top: 40px !important;
  }

  .copyright.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .carousel .carousel-item {
    width: 33%;
    max-width: none;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }

  .carousel .bg-img-x {
    background-image: url(/images/red_x.svg?3405c9f27fa22fe73351b2039e718db3);
    background-repeat: no-repeat;
    background-size: contain !important;
    height: 250px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item {
  width: 33%;
  max-width: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.bg-img-x {
  background-image: url(/images/red_x.svg?3405c9f27fa22fe73351b2039e718db3);
  background-repeat: no-repeat;
  background-size: contain !important;
  height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splitline.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.copyright.flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header {
  background-color: red;
  background-image: url(/images/home.jpg?928a2568b8a75422f265a44e8b26477a);
}

header .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .flex #jumbotron {
  background-image: url(/images/red_x.svg?3405c9f27fa22fe73351b2039e718db3);
  background-size: cover;
  padding: 40px 0;
  min-width: 500px;
  width: 80%;
  max-width: 800px;
  margin: 100px auto;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .flex #jumbotron img {
  width: 90%;
  max-width: 80vw;
  height: auto;
}

header .flex #jumbotron h1 {
  font-family: "Helvetica";
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}

header .flex #jumbotron .h1--underline:after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 2px;
  background-color: white;
  bottom: -20px;
  left: calc(50% - 50px);
}

section {
  padding: 60px 20px;
}

section p {
  max-width: 500px;
  margin-bottom: 20px;
}

section h3 {
  display: inline-block;
  font-family: "Helvetica";
  font-size: 36px;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}

section .title--line:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: -20px;
  width: 70px;
  height: 3px;
  background-color: #e62b1e;
}

section form {
  height: 50px;
}

section form input[type="email"] {
  font-size: 20px;
  padding: 7px 10px;
  width: 150px;
  height: 30px;
}

section form input[type="submit"] {
  font-size: 20px;
  padding: 7px 20px;
  height: 50px;
  margin-top: 0;
  margin-left: 30px;
  cursor: pointer;
}

section .carousel {
  margin-top: 20px;
}

section .carousel .carousel-item {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

section .carousel .carousel-item .bg-img-x {
  background-image: url(/images/red_x.svg?3405c9f27fa22fe73351b2039e718db3);
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .carousel .carousel-item .bg-img-x img {
  display: block;
  width: auto;
  height: auto;
  max-height: 200px;
  margin: auto;
}

section .carousel .carousel-item a {
  font-weight: bold;
  line-height: 1.6em;
}

section .carousel .carousel-item .carousel-item-speaker {
  margin-bottom: 20px;
}

section .carousel .carousel-item .carousel-item-speaker .quote {
  color: #2D2D2D;
}

section .carousel .carousel-item .carousel-item-speaker .role {
  font-weight: bold;
  color: #000000;
}

section .meetspeakers {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto;
  margin-top: 107px;
  text-align: center;
  border: 5px solid #000000;
}

section .meetspeakers:hover {
  color: #000000;
  background-color: white;
}

section .link--red {
  color: #e62b1e;
  font-weight: bold;
}

#subscribe {
  background-image: url(/images/subscribe-bg.png?3b82a482ba0171ffa9bb5974b5b7696d);
  background-repeat: repeat;
  background-size: 200px 100px;
  background-color: red;
  color: white;
  padding-top: 30px;
}

#subscribe h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

footer {
  background-color: #2D2D2D;
  color: white;
}

footer .maxwidth {
  width: 90%;
  margin: 0 auto;
}

footer .splitline {
  border-bottom: 1px solid #58595B;
}

footer div.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div.flex div {
  width: 80%;
  margin: 0 auto;
}

footer div.flex div #footerlogo {
  display: block;
  max-width: 300px;
  width: 70%;
  height: auto;
  margin: 40px auto;
}

footer div.flex div ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

footer div.flex div ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
}

footer div.flex div ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer div.flex div ul li a:hover {
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer div.flex .address {
  text-align: center;
}

footer div.flex .address h4 {
  color: #e62b1e;
}

footer div.flex .address h4,
footer div.flex .address a {
  line-height: 1.4em;
}

footer div.flex .address .socials {
  width: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer div.flex .address .socials a {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer div.flex .address .socials a :hover {
  color: #e62b1e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .copyright {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #58595B;
}

footer .copyright p {
  padding: 10px 0;
  font-size: 12px;
}

footer .copyright p a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
}

footer .copyright p a:hover {
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 850px) {
  nav .maxwidth .hamburger-menu-container {
    display: none;
  }

  nav .maxwidth .navigation {
    position: static;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: calc(100% - 233px);
        flex-basis: calc(100% - 233px);
    top: 0;
    background-color: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  nav .maxwidth .navigation li {
    border: none;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    position: relative;
  }

  nav .maxwidth .navigation li:not(:last-child) {
    border-bottom: none;
  }

  nav .maxwidth .navigation li a {
    color: #000000;
    border: none;
    top: 0;
    font-weight: bold;
    position: relative;
  }

  nav .maxwidth .navigation li a:after {
    display: none;
  }

  nav .maxwidth .navigation li a:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 0%;
    height: 3px;
    background-color: #e62b1e;
    left: 50%;
    bottom: 0px;
  }

  nav .maxwidth .navigation li a:hover {
    border-right: none;
    color: red;
  }

  nav .maxwidth .navigation li a:hover:before {
    width: 100%;
    left: 0%;
  }

  nav .maxwidth .navigation li .drop {
    position: absolute;
    top: 56px;
    display: none;
    background-color: #2D2D2D;
    width: calc(100% + 60px);
    color: white !important;
  }

  nav .maxwidth .navigation li .drop:hover {
    display: block !important;
  }

  nav .maxwidth .navigation li .drop li:not(:last-child) {
    border-bottom: 1px solid #58595B;
  }

  nav .maxwidth .navigation li .drop li a {
    color: white;
    padding: 10px 15px;
    text-indent: 0;
  }

  nav .maxwidth .navigation li .drop li a:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 3px;
    height: 0;
    background-color: #e62b1e;
    right: 0%;
    left: calc(100% - 3px);
    top: 50%;
  }

  nav .maxwidth .navigation li .drop li a:hover {
    color: red;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  nav .maxwidth .navigation li .drop li a:hover:before {
    top: 0%;
    height: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    right: 0%;
  }

  nav .maxwidth .navigation li a:hover + .drop {
    display: block !important;
  }
}

::-webkit-selection {
  background: rgba(230, 43, 30, 0.5);
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: rgba(230, 43, 30, 0.5);
  color: white;
  text-shadow: none;
}

::-o-selection {
  background: rgba(230, 43, 30, 0.5);
  color: white;
  text-shadow: none;
}

::-ms-selection {
  background: rgba(230, 43, 30, 0.5);
  color: white;
  text-shadow: none;
}

::selection {
  background: rgba(230, 43, 30, 0.5);
  color: white;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(230, 43, 30, 0.5);
}

a::-moz-selection {
  color: #e62b1e;
}

a::selection {
  color: #e62b1e;
}

