@import "components/_colors.scss";
@import "components/_measures.scss";

#contact {
    .flex {
        flex-direction: column;
        
        .maps {
            width: 100%;
            height: 400px;
            margin-bottom: $margin;
            
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        
        form {
            height: auto;
            max-width: 800px;

            .flex {
                width: 100%;
            }

            .flexrow {
                width: 100%;
                margin-bottom: $margin;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                input {
                    flex-basis: calc(50% - #{$margin});
                    max-width: calc(50% - #{$margin});
                    box-sizing: border-box;
                }
                
                input, textarea {
                    border: 0;
                    border-bottom: 1px solid $color--gray;
                    padding: $padding-s;
                    box-sizing: border-box;
                    font-size: $information;
                }
                
                .flexwidth {
                    flex-basis: 100%;
                }

                .flexcontainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .flex {
                        flex-basis: calc(50% - #{$margin-s});
                    }
                }

                .flex {
                    flex-direction: column;
                    margin-bottom: $margin-s;

                    label {
                        margin-bottom: $margin-s;
                        color: $color--red;
                    }

                    input {
                        padding: $padding-s;
                        border: 1px solid $color--lightgray;
                    }
                }
            } 

            .red {
                color: $color--red;
            }

            .g-recaptcha {
                margin-bottom: 20px;
            }

            .btn {
                margin-left: 0;
            }
        }
    }
}

@media screen and (min-width: 700px){
    #contact {
        .flex {
            flex-direction: row;
            justify-content: space-between;
            
            .flex-element {
                flex-basis: calc(50% - #{$margin};
            }
        }
    }
}