#Revolution .maxwidth p {
    max-width: 1000px;
}

.timeline {
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.timeline .item {
    display: flex;
    flex-direction: row;
}

.timeline .item .entry {
    padding: 0 20px;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .item .entry h4 {
    font-size: 24px;
    font-weight: bold;
}

.timeline .item .information {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline .item .information:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 100%;
    left: -2px;
    background-color: black;
}

.timeline .item .information .type {
    margin-top: 0;
    margin-left: 0;
    height: 5em;
    padding: 0 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .item .information .type p {
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
}

.timeline .item .information .description {
    margin-left: 20px;
}

@media screen and (min-width: 650px) {
    
    .timeline .item .information {
        display: flex;
        flex-direction: row;
    }
}

