
.teamMember{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamMemberFlip .introText{
    justify-content: flex-start;
}

.teamMails {
    color: darkgray;
    font-style: italic ;
    margin: 0 0 0 0;
}

.teamTitle{
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 0 0 0;
}

.btn-team{
    padding: 8px;
    margin: 0 0 0 0 ;
}

.introImg{
    flex-basis: 45%;
}

.introText{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-basis: 50%;
    align-self: center;
}

.introBig{
    margin-top: 30px;

}

@media screen and (max-width: 500px){

    .teamMemberFlip .introText{
        order:2;
    }

    .teamMemberFlip .introImg{
        order:1;
    }

    .teamMemberFlip .introBig{
        order:3;
    }
}

@media screen and (min-width: 620px){

    .introImg{
        flex-basis: unset;
    }

    .introText{
        flex-basis: unset;
    }

    .introBig{
        padding-top: 30px;
    }

}

@media screen and (min-width: 740px) {

    .introImg{
        grid-column: 1;
        align-self: center;
        justify-self: center;
    }

    .introText{
        flex-basis: unset;
        grid-column: 2;
        grid-row: 1;
        align-self: start;
        justify-self: start;
        padding-top: unset;
    }

    .introSmall{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .introBig{
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        justify-self: start;
    }

    .introSmallName{
        margin-right: 30px;
    }

    .teamMember {
        display: grid;
        grid-template-columns: 33% 1fr;
        grid-template-rows: none;
    }

    .teamMemberFlip{
        display: grid;
        grid-template-columns: 1fr 33% !important;
        grid-template-rows: none;
    }

    .teamMemberFlip .introText{
        grid-column: 1;
        grid-row: 1;
    }

    .teamMemberFlip .introImg{
        grid-column: 2;
        grid-row: 1;
    }

    .teamMemberFlip .introBig{
        grid-column: 1;
        grid-row: 1;
    }

}