@import "components/_colors.scss";
@import "components/_measures.scss";

#joinus {
    
    p {
        font-weight: bold;
    }
    
    form {
        height: auto;
        max-width: 750px;
        
        .flex {
            width: 100%;
        }
        
        .flexrow {
            width: 100%;
            margin-bottom: $margin;
            
            .flexcontainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .flex {
                    flex-basis: calc(50% - #{$margin-s});
                }
            }
            
            .flex {
                flex-direction: column;
                margin-bottom: $margin-s;
                
                label {
                    margin-bottom: $margin-s;
                    color: $color--red;
                }
                
                input {
                    padding: $padding-s;
                    border: 1px solid $color--lightgray;
                }
            }
        } 
        
        .red {
            color: $color--red;
        }
        
        .g-recaptcha {
            margin-bottom: 20px;
        }
        
        .btn {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 700px){
    .flexrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .flex {
            flex-basis: calc(50% - #{$margin});
        }
        
        .flexrow-inner {
            flex-basis: calc(50% - #{$margin});
        }
        
        .flexcontainer {
            display: flex;
            flex-direction: row;
            flex-basis: calc(50% - #{$margin});
        }
    }
}