@import "components/_colors.scss";
@import "components/_measures.scss";

.speakers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .carousel-item {
        flex-basis: calc(100% - 20px);
        margin: 10px 0;
      padding-bottom: 50px;

      .bg-img{
        margin-bottom: 30px;
      }

      .carousel-item-speaker{
        .role{
          font-weight: bold;
        }
      }
        
        p
        {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.single-speaker {
  padding-top: 60px;
    padding-bottom: 60px;
}

.small-information-title {
    color: white;
    background-color: #e62b1e;
    padding: 5px;
    margin: 20px auto;
    display: inline-block;
}

.more-speakers{

  .speakers {

    .carousel-item{
      transform: scale(0.8);
    }
  }

  h4 {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .single-speaker{
    .speaker-information{
      .small-information{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .more-speakers{
    display: none;
  }
}

@media screen and (min-width:600px) {
  .speakers {
    .carousel-item {
      flex-basis: calc(50% - 20px);
    }
  }
  .single-speaker{
    .speaker-information{
      .small-information{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        .linkedin{
          padding-left: 20px;
        }
      }
    }
  }

}

@media screen and (min-width:1000px)
{
    .speakers .carousel-item {
        flex-basis: calc(33.33% - 20px);
    }
}